certifi==2026.2.25
charset-normalizer==3.4.5
docopt==0.6.2
et_xmlfile==2.0.0
idna==3.11
iniconfig==2.3.0
numpy==2.4.2
openpyxl==3.1.5
packaging==26.0
pandas==3.0.1
pipreqs==0.4.13
pluggy==1.6.0
Pygments==2.19.2
pytest==9.0.2
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.32.5
six==1.17.0
urllib3==2.6.3
yarg==0.1.10
